
	h1 {color: magenta;
	}

	body {
		font-size: 20px;
	}

	#introduction {
		color: gray;
	}

	#galleries li a {
		color: green;
	}

	img {
		border: 1px solid black;
		margin: 10px;
		float: left;
	}

