<!DOCTYPE html>
<html>
  <head>
    <title>FlashCard</title>
  </head>
  <body>
    <div id='header'>
      <nav>
      </nav>
    </div>
    <div id='main'>
      <%= yield %>
    </div>
  </body>
</html>