<!DOCTYPE html>
<!---index for gallery page-->
<html>

	<head>
		<meta charset="UTF-8">
		<title>The Cat Gallery</title>
		<link rel="stylesheet" href="application.css">
	</head>


	<body>
		<h1>The Cat Gallery</h1>
		<%= "Woooosh!" %>
		<p> The gallery of cats. Show off your magical superiority here!</p>
		<% cat_images.each do |cat_image| %>
 		 <img src="img/<%=cat_image%>" alt= "<%= cat_image%>">
		<% end %>

<!-- 			<img src="Zack.jpg" alt= "No pic!">
			<img src="Redclaw.jpg" alt = "No pic!">
			<img src="kitty.jpg" alt = "No pic!">
			<img src="colonel_meow.jpg" alt = "No pic!"> -->

	</body>

</html>