<!DOCTYPE html>
<!---index for gallery page-->
<html>

	<head>
		<meta charset="UTF-8">
		<title>My Web Gallery</title>
		<link rel="stylesheet" href="application.css">
	</head>

	<body>
		<h1> A photo gallery application </h1>
		<div id="introduction">Below are a list of galleries that contain images of animals.</div>
		<div id="galleries">
			<h2>Galleries</h2>
			<ul>
				<% @galleries.each do |gallery| %>
				<li> <a href="/gallery/<%= gallery.id %>"><%= gallery.name %></a> </li>
				<% end %>
				<!-- <li><a href="cats.html"> Cat Gallery </a></li>
				# <li><a href="dogs.html"> Dog Gallery </a></li> -->
			</ul>
		</div>
	</body>

</html>

