<!DOCTYPE html>
<!---index for gallery page-->
<html>

	<head>
		<meta charset="UTF-8">
		<title>Paragraphs</title>
		<link rel="stylesheet" href="application.css">
	</head>

	<body>
		<p><b>This page has two paragraphs containing text. The first one is bolded.</b></p>
		<p><i>The second one is entirely in italics.</i></p>
	</body>

</html>